# Arc App Kit Kit Key (обязательно для Swap и Bridge)
# Получи бесплатный ключ в https://console.circle.com/
VITE_KIT_KEY=1475fe9cea393cfd52f0171e33e0a0e9:def01cedd6e548bf33f1ba23b098bbbd

# Пример (не используй этот ключ):
# VITE_KIT_KEY=KIT_KEY:1475fe9cea393cfd52f0171e33e0a0e9:def01cedd6e548bf33f1ba23b098bbbd